*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules

/vendor
Homestead.json
Homestead.yaml
Thumbs.db
__pycache__/
*.pyc
.venv/
.venv_fi/
api/debug/
api/debug_frames/
api/test/
api/test_dataset/